[Unit]
Description=Messenger
After=network.target

[Service]
Type=simple
ExecStart=/opt/aix-messenger/aix
WorkingDirectory=/opt/aix-messenger
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
